<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" >
<listeners>
	<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG"></listener>
</listeners>
  <test name="Test CRM APP Test Cases" >
    <classes>
      <class name="com.crm.qa.testcases.LoginPageTest"/>    
      <class name="com.crm.qa.testcases.HomePageTest"/>  
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
